body {
  font-family: 'Century', sans-serif;
  padding: 20px;
  background: #BDE0FE; /* azul pastel */
  overflow-x: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1A5FAD;
  font-size: 48px;
}

button#reset {
  display: block;
  margin: 0 auto 20px auto;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background: #1A5FAD;
  border: none;
  color: #fff;
  font-weight: bold;
}

#malla-grid-top,
#malla-grid-bottom {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.semestre {
  flex: 0 0 250px;
  background: #85C1E9;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.semestre h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #1A5FAD;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  margin: 8px 0;
  border-radius: 25px;
  background: #BDE0FE; /* bloqueado o cursando */
  color: #1A5FAD; /* letra azul */
  cursor: not-allowed;
  border: 2px solid #A9D6F9;
  transition: all 0.5s;
  text-align: center;
  font-weight: 500;
}

li.desbloqueado {
  background: #A9D6F9;
  border: 2px solid #1A5FAD;
  cursor: pointer;
  color: #1A5FAD;
}

li.aprobado {
  background: #1A5FAD;
  color: #fff;
  text-decoration: line-through;
  border: 2px solid #1A5FAD;
  transition: all 0.5s;
}

li:hover:not(.bloqueado):not(.aprobado) {
  background: #7EB3F0;
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}
